@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
  }

  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    @apply text-gray-800 bg-white;
  }
}

/* Layout phần panel chính */
.main-panel {
  @apply relative float-right transition-all h-screen w-[calc(100%-265px)];
  min-height: 100%;
}

.main-panel > .container {
  min-height: calc(100% - 123px);
  margin-top: 69px;
  @apply w-full overflow-hidden p-0;
  max-width: unset;
}
